
@{
    ViewBag.Title = "Home";
}

<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> 01 de Novembro de 2017</span>
                        <h1>
                            Atenção Condôminos!
                        </h1>
                    </div>
                    <p>
                        Estas informações abaixo são de <strong>extrema importância</strong> para o bom convívio de todos os condôminos, funcionários e visitantes.
                    </p>
                    <h2 class="text-center"><b>BARULHO</b></h2>
                    <ul>
                        <li>Conheça as normas do condomínio e não faça barulho após o horário de silêncio</li>
                        <li>Use sempre o bom senso. Não é porque você está no horário permitido, que pode fazer o barulho que quiser</li>
                        <li>Nos dias de festa - desde que não ocorram sempre - convide os vizinhos para a confraternização, ou mande um cartão simpático se desculpando antecipadamente pelo incômodo.</li>
                        <li>Lembre-se, seu cachorro não deve perturbar o sossego e o descanso dos outros moradores.</li>
                        <li>Crianças: o correto é limitar o horário para brincadeiras dentro do apartamento até no máximo 22h.</li>
                        <li>Uso de tapete emborrachado nos quartos das crianças, carpetes e tapetes comuns ajudam a evitar a propagação do som para outras unidades.</li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>CACHORROS</b></h2>
                    <ul>
                        <li>Seu animal não deve perturbar o sossego e o descanso dos outros moradores                        </li>
                        <li>Use sempre as entradas de serviço e seja breve no trajeto até chegar à rua.                        </li>
                        <li>Caso seu pet faça sujeira na área comum, limpe-a no mesmo momento.                        </li>
                        <li>Caso o cachorro de um morador faça muito barulho, antes de registrar queixa, verifique se outros condôminos também se sentem incomodados pelos latidos                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>CRIANÇAS</b></h2>
                    <ul>
                        <li>Os pais são responsáveis por seus filhos e devem estabelecer limites a eles                        </li>
                        <li>
                            Não permita que seus filhos gritem ou corram em áreas que não destinadas exclusivamente para brincadeiras
                        </li>
                        <li>
                            Crianças pequenas precisam estar acompanhadas por adultos
                        </li>
                        <li>
                            Respeite os limites de horários e locais destinados aos pequenos
                        </li>
                        <li>
                            Verifique o que diz o regulamento interno do seu condomínio
                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>CONVIVÊNCIA</b></h2>
                    <ul>
                        <li>
                            Conheça e respeite as regras que regem o seu condomínio. Por mais que você não concorde com algumas, terá que obedecê-las, pois foram aprovadas pela maioria
                        </li>
                        <li>
                            Jamais chame a empregada ou babá do vizinho para trabalhar na sua casa
                        </li>
                        <li>
                            Evite entrar em quaisquer tipos de fofocas ou boatos relacionados aos seus vizinhos
                        </li>
                        <li>
                            Lembre-se, a conversa amigável será sempre a melhor saída para resolução de conflitos com seu vizinho.
                        </li>
                        <li>
                            Procure sempre participar das assembleias e conhecer a pauta antecipadamente. É lá que os assuntos de interesse de todos são discutidos e votados. Quem não comparece fica sem condição de discutir depois.
                        </li>
                        <li>
                            Ainda em assembleias, saiba ser “voto vencido”, e não altere nunca o tom de voz.
                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>FUNCIONÁRIOS</b></h2>
                    <ul>
                        <li>
                            Trate-os sempre com cordialidade
                        </li>
                        <li>
                            Se quiser fazer alguma reclamação, direcione-a ao zelador ou ao síndico
                        </li>
                        <li>
                            Lembre-se que o funcionário do condomínio não é seu empregado. Evite pedir que execute serviços particulares
                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>GARAGEM</b></h2>
                    <ul>
                        <li>
                            Não buzine, use luzes baixas e respeite a sua vaga
                        </li>
                        <li>
                            Não use sua vaga como depósito
                        </li>
                        <li>
                            Respeite o limite de velocidade
                        </li>
                        <li>
                            Deu uma raladinha no carro ao lado? Deixe um bilhete se identificando, pedindo desculpas, e permita que o vizinho escolha a melhor maneira de reparar o automóvel
                        </li>
                        <li>
                            Quando dois carros se encontram, a preferência é sempre de quem está chegando.
                        </li>
                        <li>
                            Devolva sempre o carrinho de compras ao seu local de origem
                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>LIXO</b></h2>
                    <ul>
                        <li>
                            Não jogue papéis, bitucas de cigarro ou quaisquer outros tipos de lixo pela janela do apartamento.
                        </li>
                        <li>
                            Cuide para que seu lixo esteja sempre devidamente ensacado e sem exalar cheiro forte
                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>NO ELEVADOR</b></h2>
                    <ul>
                        <li>
                            Cumprimente sempre todos os presentes
                        </li>
                        <li>
                            Espere as pessoas saírem para entrar
                        </li>
                        <li>
                            Segurar a porta do elevador para outras pessoas entrarem demonstra gentileza e cordialidade, e ajuda a tornar o ambiente social do condomínio mais afável.
                        </li>
                        <li>
                            Não segure o equipamento em horários de pico
                        </li>
                        <li>
                            Use o elevador de serviço se for trafegar com animais ou transportar caixas e compras de supermercado
                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>NO SALÃO DE FESTAS E CHURRASQUEIRAS</b></h2>
                    <ul>
                        <li>
                            Respeite os horários de uso e não deixe a área toda suja após o uso – o ideal é retirar toda a parte principal do lixo e restos de comida e bebida
                        </li>
                        <li>
                            Faça uma lista com os nomes dos convidados para deixar na portaria
                        </li>
                        <li>
                            Informe-se e respeite as regras do local, principalmente em relação a barulho
                        </li>
                        <li>
                            Na churrasqueira, tenha bom senso no uso de aparelhos sonoros, que propagam muito mais ruído quando estão ao ar livre.
                        </li>
                    </ul>
                    <hr>
                    <h2 class="text-center"><b>OBRAS</b></h2>
                    <ul>
                        <li>
                            Respeite os horários estabelecidos na convenção e regulamento interno
                        </li>
                        <li>
                            Comunique o síndico e seu vizinho antes de iniciar as obras
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

