
@{
    ViewBag.Title = "InternalError";
}

<h1>Erro Interno</h1>
<p>
    <h3>A página que você tentou reportou um erro desconhecido.</h3>
    Por gentileza, retorne para a @Html.ActionLink("Home Page", "Index", "Moradores")
</p>
